/* ID Selector */
/* #button{
    color: blue;
    background-color: chartreuse;
     */
}
/* Class Selector */
/* .leftAlign1{
    text-align: left;
    color: brown;
}
#rightAlign{
    text-align: right;
    color:orange ;
}
#header{
    font-size: 40px;
    font-weight: bold;
    text-align: left; */

}
/* universal selector */
/* *{
    text-align: center;
    
} */