.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;  /*horizontal alignment*/
    align-items: center;  /*vertical alignment*/
   
    height: 300px;
    border: 2px solid black;
    
}
.green, .blue, .red{
    padding: 20px;
    margin: 10px;
    height: 50px;
    width: 50px;
}
.green{
    background-color: green;
    width: 50px;
    flex-grow: 1;
    order: 2;
}
.blue{
    background-color: blue;
    width: 50px;
    flex-grow: 2;
    order: 3;
}
.red{
    background-color: red;
    width: 50px;
    flex-grow: 3;
    order: 1;